
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
   
</head>
<body>
    <div class="form">
        <div>
        <h1>Add a Book</h1>
        <form action="/addauthor" method="POST">
            {% csrf_token %}
            <label for="first_name">First Name</label>
            <input type="text" name="first_name"><br><br>
            <label for="last_name">Last Name</label>
            <input type="text" name="last_name"><br><br>
            <label for="notes">Notes</label>
            <textarea name="notes"></textarea><br><br>
            <input type="submit">
        </form>
        </div>

        <div>
            <table>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Action</th>
                </tr>
                    {%for i in x%}
                <tr>
                    <th>{{i.id}}</th>
                    <th>{{i.first_name}} {{i.last_name}}</th>
                    <th><a href="/authors/{{i.id}}">view</a></th>
                </tr>
                    {%endfor%}
               
              </table>
        </div>
    </div>
</body>
</html>