<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create</title>
    <link rel="shortcut icon" type="image/x-icon" href="base/icons/favicon.png"/>

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style_create.css'%}">
</head>
<body>
    <a href="/shows">Go Back</a>
    <h1>Add a New Show</h1>
    <div>
    <form action="add" method="POST">
        {% csrf_token %}
        <p>Title</p>
        <input type= "text" name="title" >
        <p>Network</p>
        <input type= "text" name="network" >
        <p>Release Date</p>
        <input type= "date" name="date" >
        <br>
        <label for="Description">Description :</label><br><textarea id="Description" name="desc" rows="4" cols="50">
        </textarea>
        <br><br>
    <button type="submit" name="submit">Create</button>
    </form>
    </div>
</body>
</html>