<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login and Registration</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'style/css/index.css'%}">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</head>
<body>
    {% if messages %}
        <ul class="messages">    
            {% for message in messages %}    
                <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>    
            {% endfor %}
        </ul>
    {% endif %}
    <div class="container">
        <div id="login-row" class="row justify-content-center align-items-center">
            <div id="login-column" class="col-md-6">
                <div class="box">
                    <div class="shape1"></div>
                    <div class="shape2"></div>
                    <div class="shape3"></div>
                    <div class="shape4"></div>
                    <div class="shape5"></div>
                    <div class="shape6"></div>
                    <div class="shape7"></div>
                    <div class="float">
        <div>
            <h1>Registration</h1>
            <form action="create" method="POST">
                    {%csrf_token%}
                First Name: <input type="text" name="firstname" /><br><br>
                Last Name: <input type="text" name="lastname" /><br><br>
                Email: <input type="email" name="email" /><br><br>
                Password: <input type="password" name="passwd" /><br><br>
                Confirm PW : <input type="password" name="confirmpwd" id="confirmpwd"><br><br>
                Birth Date : <input type="date" name="birth_date" id="birth_date">
                <input type="submit" value="Register">
            </form>
        </div>
    </div>
</div>
</div>
</div>
<div id="login-row" class="row justify-content-center align-items-center">
    <div id="login-column" class="col-md-6">
        <div class="box">
            <div class="shape1"></div>
            <div class="shape2"></div>
            <div class="shape3"></div>
            <div class="shape4"></div>
            <div class="shape5"></div>
            <div class="shape6"></div>
            <div class="shape7"></div>
            <div class="float">
        <div class="log">
            <form action="login" method="POST">
                {% csrf_token %}
            <h1>Login</h1>
            Email : <input type="email" name="loginemail" id="loginemail">
            Password : <input type="password" name="loginpass" id="loginpass">
            <input type="submit" value="Login">
            </form>
        </div>
    </div>
</form>
</div>
</div>
</div>
</div>

</body>
</html>

<!-- <div class="container">
    <div id="login-row" class="row justify-content-center align-items-center">
        <div id="login-column" class="col-md-6">
            <div class="box">
                <div class="shape1"></div>
                <div class="shape2"></div>
                <div class="shape3"></div>
                <div class="shape4"></div>
                <div class="shape5"></div>
                <div class="shape6"></div>
                <div class="shape7"></div>
                <div class="float">
                    <form class="form" action="">
                        <div class="form-group">
                            <label for="username" class="text-white">Username:</label><br>
                            <input type="text" name="username" id="username" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="password" class="text-white">Password:</label><br>
                            <input type="text" name="password" id="password" class="form-control">
                        </div>
                        <div class="form-group">
                            <input type="submit" name="submit" class="btn btn-info btn-md" value="submit">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div> -->