<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/'%}">
</head>
<body>
    <h1>Success! Welcome, {{fname}} !</h1>
    <p>Successfully registered !</p>
    <br><br><br><br><br><br><br><br><br><br><br>
    <form action="logout" method="POST">
        {% csrf_token %}
    <input type="submit" value="Logout">
    </form>
</body>
</html>