<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <style>
        div{
            margin: 0 auto;
            width: 500px;
            border: 5px solid black;
            padding-left: 10px;
            padding-bottom: 10px;

        }

    </style>
    {% csrf_token %}
<div>
    <h2>welcome to the great number</h2>
    <h3>i am thinking number between 1 and 100 <br> take a guess!</h3>
    <form action="post" method="POST">
        {% csrf_token %}
        <label for="number">number</label>
        <input placeholder="enter the number" name="number">
        <br>
        <button type="submit">submit</button>
        <p>the numer is  {{counterr}}</p>
    </div>
    

    </form>
</body>
</html>